.call {
  text-align: center;
  width: 100%;
}

.playerContainer {
  padding: 20px;
  text-align: initial;
}

.buttonGroup {
  padding: 20px;
}

.callForm {
  padding: 20px;
}

.Input,
.Button {
  margin-right: 10px;
}

.Tiles {
  display: inline-grid;
  grid-template-columns: repeat(3, 30.95%);
  grid-auto-rows: 45%;
  gap: 8% 1.3%;
  overflow-y: auto;
  width: 100%;
}

.Tile {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
}

.Screen {
  width: 100%;
  height: 90%;
}

.Host {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  /* border: 2px solid black; */
}
